html {
    color: #FFF;
    background-color: #1b2634;
}

.border-bottom {
    border-color: #fff;
}

h2 { 
    font-size: 30px;
}

h3 {
    font-weight: 100;
    font-size: 26px;
    font-family: 'Metric';
    margin: 0;
}

.h-15 {
    height: 15%;
}
.align-items-end {
    align-items: flex-end;
}