body, html {
    height: 100%
}

body, html, td, tr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    min-width: 400px;
    font-family: 'Metric';
    font-weight: 400;
}

body {
    width: 100%;
    overflow: hidden;
}

h1 {
    color: #61dafb;
    font-family: 'Metric';
    font-weight: 800;
    font-size: 48px;
    margin: 0;
}

h2 {
    font-weight: 100;
    font-size: 55px;
    font-family: 'Metric';
    margin: 0;
}

.banner-logo {
    height: 19px
}

.banner-image {
    margin-left: -80px;
    height: 300px;
}

.button {
    padding: 17px 75px 16px 50px;
    border-radius: 50px;
    color: #FFF;
    background-color: #ff7272;
    text-transform: uppercase;
    font-family: 'Roboto';
    text-decoration: none;
    border: 1px solid transparent;
}

.button:hover {
    background-color: #fff;
    color: #ff7272;
}

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1 1;
}

.flex-auto {
    flex: 1 1 auto;
}

.row {
    display: flex;
    padding: 15px 10%;
}

.col {
    width: 100%;
}

.flex-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.text-right {
    text-align: right;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.border-bottom {
    border-bottom: 1px solid;
}

.pb-2 {
    padding-bottom: 7px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 60px;
}

.justify-content-between {
    justify-content: space-between;
}

.arrow-right {
    background-image: url("assets/arrow.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 85% center;
    display: inline-block;
}

.arrow-right:hover {
    background-image: url("assets/arrow_invert.svg");
}

.front {
    z-index: 1;
}

.footer {
    font-size: 25px;
    font-family: 'Metric';
    font-weight: 100;
}

.react-logo {
    height: 100%;
    position: absolute;
    right: -300px;
    top: 0;
}


.position-relative {
    position: relative;
}

.w-230 {
    width: 230px;
}